.quoteContainer {
  position: relative;
  color: rgba(31, 35, 41, 0.7);
  line-height: 2.12;
  margin: 8px 0 8px 14px;
  &::before {
    content: '';
    height: 100%;
    border-left: 2px solid #bbbfc4;
    border-radius: 1px;
    position: absolute;
    left: -14px;
  }
}
