.container {
  // padding: 0 51px 0 0;

  .taskFunc {
    display: none;
  }
  .taskFuncShow {
    display: flex;
  }
  .contentContainer {
    padding-left: 28px;
    width: 100%;
    display: flex;
    &:hover {
      background-color: rgba(31, 35, 41, 0.1);
      border-radius: 4px;
    }
  }
  .content {
    line-height: 26.4px;
    max-width: calc(100% - 153px - 26px - 25px);
    position: relative;
    // pointer-events: none; /* 禁用宿主元素的指针事件 */
    &::before {
      content: '';
      position: absolute;
      border-radius: 2px;
      border: 1px solid #2b2f36;
      width: 14px;
      height: 14px;
      left: -21px;
      top: 5.9px;
      cursor: pointer;
      // pointer-events: auto; /* 禁用宿主元素的指针事件 */
    }
    &:hover {
      &::before {
        border: 1px solid #336df4;
      }
    }
  }
  .isChecked {
    text-decoration: line-through;
    & > div {
      opacity: 0.6;
    }
    &::before {
      background-image: url('/check.svg');
      background-size: contain;
    }
  }
  .timeContainer {
    position: relative;
    margin: 0 4px 0 25px;
    width: 125px;
    cursor: pointer !important;
    color: rgb(51, 109, 244);
    white-space: nowrap;
    .deleteIcon {
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
    &::before {
      content: '';
      position: absolute;
      left: -20px;
      top: 6px;
      background-image: url('/time.svg');
      background-size: contain;
      width: 16px;
      height: 16px;
      fill: #8b8f96 !important;
    }
    .timerPicker {
      position: absolute;
      opacity: 0;
      height: 100%;
      width: calc(100% + 5px);
      left: -19px;
      top: 0;
      :global {
        .ant-picker-input {
          input {
            cursor: pointer !important;
          }
        }
      }
    }
    &:hover {
      .deleteIcon {
        opacity: 1;
      }
    }
  }
  .isTimeChecked {
    text-decoration: line-through;
    color: #8b8f96 !important;
    &::before {
      background-image: url('/timeChecked.svg') !important;
    }
  }

  &:hover {
    .taskFunc {
      display: flex;
    }
  }
}
